[build-system]
requires = ["setuptools", "wheel", "cffi"]
build-backend = "setuptools.build_meta"

[project]
name = "arrow-odbc"
description="Read the data of an ODBC data source as sequence of Apache Arrow record batches."
readme = "README.md"
version = "0.2.3"

[project.optional-dependencies]
test = ["pytest < 7.0.0"]

[project.urls]
repository = "https://github.com/pacman82/arrow-odbc-py"
changelog = "https://github.com/pacman82/arrow-odbc-py/blob/main/Changelog.md"
