# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Upload Python Package

on:
  release:
    types: [published]

jobs:
  windows-wheel:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Publish package
      run: |
        python -m pip install --upgrade pip
        pip install maturin cffi
        maturin build -b cffi --release
        maturin build -b cffi --release
        maturin publish --no-sdist --skip-existing -b cffi -u __token__ -p "${{ secrets.PYPI_API_TOKEN }}"

  os-x-wheel:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Publish package
      run: |
        python -m pip install --upgrade pip
        pip install maturin cffi
        maturin build -b cffi --release -o dist
        maturin build -b cffi --release -o dist
        maturin build -b cffi --release -o dist
        pip install twine
        twine upload --skip-existing -u __token__ -p "${{ secrets.PYPI_API_TOKEN }}" dist/*